
<li class="nav-item">
  <a class="nav-link" routerLink="admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span class="menu-title">Tableau de bord</span>
    <i class="mdi mdi-view-dashboard menu-icon"></i>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="admin/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span class="menu-title">Utilisateurs</span>
    <i class="mdi mdi-account-multiple menu-icon"></i>
  </a>
</li>