# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
front_end/dist/
front_end/.angular/

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
.env
.env.*

# Docker
.docker/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
