<nav class="navbar default-layout-navbar d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="#">
      <h2 class="mb-0 fw-bold text-primary">AstroTech<span class="text-info">2.0</span></h2>
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button class="navbar-toggler align-self-center me-3" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    
    <div class="search-field d-none d-md-block flex-grow-1">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <i class="mdi mdi-magnify"></i>
          <input type="text" class="form-control" placeholder="Rechercher...">
        </div>
      </form>
    </div>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-logout">
        <button class="nav-link btn" (click)="logout()">
          <i class="mdi mdi-power"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
