.file-drop-zone{
    border: 4px dotted #d3d3d3;
    height: 80px;
}

.card-nav{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #EFEFEF;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 15px;
}

.card-nav .card-body {
    padding: 0;
}