<!-- *** Titre *** -->
<div class="page-header">
  <h3 class="page-title">Affaires</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Affaires</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ isEdit ? "Modification de l'affaire" : "Création de l'affaire" }}
      </li>
    </ol>
  </nav>
</div>

<!-- *** Contenu principal *** -->
<div class="row">
  <div class="col-md-12">

    <!-- 🔹 Étapes -->
    <div class="steps">
      <app-etape1 *ngIf="step === 1" [form]="formService.formStep1"></app-etape1>
      <app-etape2 *ngIf="step === 2" [form]="formService.formStep2"></app-etape2>
      <app-etape3 *ngIf="step === 3 && !isEdit" [form]="formService.formStep3"></app-etape3>
    </div>

    <!-- 🔹 Navigation entre étapes -->
    <div class="navigation mt-3 d-flex justify-content-end">
      <button class="btn btn-gradient-info btn-rounded btn-fw" (click)="previousStep()" [disabled]="step === 1">
        Précédent
      </button>

      <button class="btn btn-gradient-info btn-rounded btn-fw mx-2" (click)="nextStep()"
        [disabled]="(!isEdit && step === 3) || (isEdit && step === 2)">
        Suivant
      </button>
    </div>

    <!-- 🔹 Bouton Sauvegarder visible uniquement si step 2 ou 3 et mode édition désactivé -->
    <div class="card card-nav shadow-sm action-save mt-3" style="width: 250px;"
      *ngIf="(!isEdit && step === 3) || (isEdit && step === 2)">
      <div class="card-body text-center">
        <button type="button" class="btn btn-light w-100 mb-2 btn-sm" [routerLink]="['/affaires/list']">
          Annuler
        </button>
        <button type="button" (click)="submit()" class="btn btn-success w-100 mb-2 btn-sm"
          style="background-color: #5cc6b4; border:none;">
          Sauvegarder
        </button>
      </div>
    </div>

  </div>
</div>