.avatar-container {
  text-align: center;
  border-radius: 8px;
}

.avatar-circle {
  width: 50px;
  height: 50px;
  background-color: #00b4f1;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.avatar-name {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/*** *** ***  */
/* Style de base des liens */
.sidebar .nav-link {
  color: #555;             /* couleur normale */
  padding: 10px 15px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Lien actif */
.sidebar .nav-link.active {
  color: #007BFF;          /* bleu pour le texte actif */
  background-color: #E3F2FD; /* léger fond bleu */
  border-left: 4px solid #007BFF; /* accent sur le côté */
  font-weight: bold;
}


/*** *** *** **** ***/
/* Titres personnalisés */
.custom-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #4f46e5;
  letter-spacing: 0.5px;
}

/* Icônes personnalisées */
.custom-icon {
  font-size: 1.3rem;
  color: #1f2937;
  margin-right: 0.8rem;
  transition: transform 0.2s, color 0.2s;
}

/* Effet hover */
.nav-link:hover .custom-icon {
  color: #4f46e5;
  transform: scale(1.1);
}

/* Item actif */
.nav-link.active .custom-title {
  color: #1f2937;
}



/**********************************************************/
.custom-label {
  font-weight: 700;           /* Texte en gras */
  text-transform: uppercase;  /* Tout en majuscules */
  font-size: 0.85rem;         /* Taille du texte */
  color: #7B88FA;             /* Couleur personnalisée */
  letter-spacing: 1px;        /* Espacement entre lettres */
  padding-left: 1rem;         /* Décalage par rapport au bord */
}