<nav class="sidebar sidebar-offcanvas" id="sidebar" [class.active]="isOpen">
    <ul class="nav">
        <li class="nav-item nav-profile" *ngIf="currentUser">
            <a [routerLink]="['/profile']" class="nav-link">
                <div class="avatar-container">
                    <div class="avatar-circle">{{ initials }}</div>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{ currentUser?.full_name }}</span>
                    <span class="font-weight-bold text-small mb-2">{{ currentUser?.email }}</span>
                    <span class="text-secondary text-small">{{ currentUser?.role }}</span>
                </div>
            </a>
        </li>
        
        <app-admin *ngIf="userRole === 'admin'"></app-admin>
        <app-user *ngIf="userRole === 'user'"></app-user>
    </ul>
</nav>