.card-custom {
  min-height: 145px;
  box-sizing: border-box !important;
  transition: transform 0.2s, box-shadow 0.2s;
}


.dragging-active {
  position: fixed !important;
  z-index: 9999 !important;
  pointer-events: none !important;
  margin: 0 !important;
  transition: none !important; /* Crucial pour le suivi curseur */
  box-shadow: 0 15px 30px rgba(0,0,0,0.4) !important;
  opacity: 0.9;
  /* Empêche l'élément de s'étirer */
  flex: none !important;
  min-width: auto !important;
}

.title-full-display {
  font-size: 0.68rem;
  line-height: 1.2;
  word-break: break-word;
  min-height: 2.4em;
}

.h2.fw-black {
  font-size: 1.7rem;
  font-weight: 900;
}

.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing !important; }

.bg-primary { background: linear-gradient(135deg, #4e73df 0%, #224abe 100%) !important; }
.bg-success { background: linear-gradient(135deg, #1cc88a 0%, #13855c 100%) !important; }
.bg-warning { background: linear-gradient(135deg, #f6c23e 0%, #dda20a 100%) !important; }

.card .card-body{
  padding: 0.6rem 0.6rem !important;
}