.card .card-body {
  padding: 0 !important;
}

.text-uppercase {
  font-size: 12px !important;
  margin-top: 5px;
  line-height: 1.35;
  font-weight: bold !important;
}

/************/
.card {
  user-select: none;
}

/* .card button {
  cursor: grab;
} */

/* .card button:active {
  cursor: grabbing;
} */

