.timeline {
  position: relative;
  margin-left: 30px;
  padding-left: 0px;
  border-left: 2px solid #0dcaf0; /* <-- la ligne verticale */
}

/* Chaque item */
.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

/* Cercle */
.timeline-circle {
  position: absolute;
  left: -15px; /* cercle centré sur la ligne */
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0dcaf0;
  border: 10px solid white; /* pour le relief sur la ligne */
  box-sizing: border-box;
}

/* Contenu */
.timeline-content {
  margin-left: 30px;
}

/* Date et titre */
.timeline-date {
  color: #888;
  font-size: 0.85rem;
}
.timeline-title {
  font-weight: bold;
  margin: 4px 0 8px 0;
}

/* Texte */
.timeline-text {
  background-color: #f8f9fa;
  padding: 8px;
  border-radius: 4px;
}

/* Photos et signature */
.timeline-photos, .timeline-signature {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.timeline-img {
  max-width: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Tableau */
.timeline-table table {
  width: 100%;
  border-collapse: collapse;
}
.timeline-table th, .timeline-table td {
  border: 1px solid #ddd;
  padding: 4px 8px;
  font-size: 0.9rem;
}
.timeline-table th {
  background-color: #f1f1f1;
}


.btn-info{
  font-size: 10px;
  width: 246px;
  font-weight: 700;
  margin: 11px;
}